@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper {
  width: 100%;
  height: 100%;

  display: flex !important;
  flex-direction: column;
  gap: 50px;
}

.swiper-pagination {
  position: static !important;
}

.swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 0.8 !important;
  width: 12px !important;
  height: 12px !important;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffd705 !important;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}


.reviews-bullet {
  background-color: #171717;
  opacity: 0.8;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.reviews-bullet-active {
  background-color: #fff;
  opacity: 1;
}

.reviews-pagination {
  padding-top: 50px !important;
  display: flex !important;
  justify-content: center;
}

.swiper-pagination-reviews-pagination {
  padding-top: 50px !important;
  display: flex !important;
  justify-content: center;
}

.reviews-container-initialized {
  gap: 145px !important;
}

.reviews-container-initialized .swiper-wrapper {
  align-items: stretch;
}

.reviews-container-initialized .swiper-slide {
  height: auto;
}

.reviews-wrapper {
  background-color: #000 !important;
  display: flex;
}
